build/
node_modules/
package-lock.json
yarn.lock

/.next/
/.idea/
/out/
/.idea/
.eslintcache

.gitsecret/keys/random_seed
!*.secret
.DS_Store

sonar
**/sonar
/sonar/
.scannerwork

test-report.*
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.generated.tsx
*.generated.ts

snipsnap.code-snippets

// prevent fight between JSON.stringify and prettier
public/static/locales/**

*.config.js

cypress

/docs/
/markdown/
/etc/
/temp/
/dist/
/coverage/